*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  color: $color-white;
  font-size: 62.5%;
}

body {
  background-color: $color-primary;
  font-family: 'Fira code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
