@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap');

p {
  font-family: 'Roboto', sans-serif;
  font-size: $default-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

::selection {
  background-color: $color-white;
  color: $color-primary;
}
