$color-primary: #2E132C;
$color-primary-light: #60265B;
$color-primary-dark: #150714;

$color-secondary: #00DA76;

$color-red: #F50D5A;

$color-white: #F1F1F1;
$color-black: #111;

$default-font-size: 1.4rem;
