.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;

  &--logo {
    height: 25rem;
    width: 25rem;
  }

  &__button {
    margin: 2rem;
  }

  h2,
  p {
    line-height: 1.7;
    padding: 2rem;
    text-align: center;
  }

  &__loading {
    display: grid;
    place-items: center;
    height: 100vh;
  }
}