$color-primary: #2e132c;
$color-primary-light: #60265b;
$color-primary-dark: #150714;

$color-secondary: #00da76;

$color-tertiary: #f50d5a;

$color-white: #f1f1f1;
$color-black: #111;

$default-font-size: 1.6rem;
