.App {
  background-color: #2e132c;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App > img {
  height: 40rem;
  width: 40rem;
}

.App > h3 {
  color: white;
  font-size: 2rem;
}
