@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  color: #F1F1F1;
  font-size: 62.5%;
}

body {
  background-color: #2E132C;
  font-family: "Fira code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  font-family: "Fira Code", sans-serif;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
}

::selection {
  background-color: #F1F1F1;
  color: #2E132C;
}

.button {
  border: none;
  color: #150714;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  height: 3.5rem;
  text-transform: uppercase;
  width: 10rem;
}

.DeleteBtn {
  background-color: transparent;
  border: none;
  color: #F1F1F1;
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: scale(1.4);
}

.g-sign-in-button {
  margin: 1rem;
  display: inline-block;
  width: 24rem;
  height: 5rem;
  background-color: #4285f4;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}
.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}
.g-sign-in-button::active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}
.g-sign-in-button .logo-wrapper {
  padding: 1.5rem;
  background: #fff;
  width: 4.8rem;
  height: 100%;
  border-radius: 1px;
  display: inline-block;
}
.g-sign-in-button .text-container {
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.21px;
  font-size: 1.6rem;
  line-height: 4.8rem;
  vertical-align: top;
  border: none;
  display: inline-block;
  text-align: center;
  width: 18rem;
}
.g-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}
.g-sign-in-button img {
  width: 1.8rem;
  height: 1.8rem;
}

.LikeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}
.LikeBtn .MuiSvgIcon-root {
  color: #F50D5A;
  font-size: 2rem;
}

.Post {
  align-items: center;
  border-bottom: 3px solid #60265B;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}
.Post__profilePic {
  align-self: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 20%;
  overflow: hidden;
}
.Post__profilePic--image {
  border-radius: 50%;
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}
.Post__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  width: 80%;
}
.Post__info--data {
  margin-bottom: 1rem;
  width: 100%;
}
.Post__info--username {
  background-color: yellow;
  border-radius: 0.3rem;
  color: #2E132C;
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
}
.Post__info--date {
  padding: 1rem;
}
.Post__info--likes {
  align-items: center;
  color: #F50D5A;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  margin-top: 2rem;
}

.progressbar {
  background-color: #00DA76;
  height: 0.5rem;
}

.Footer {
  margin-top: 5rem;
  color: #60265B;
  text-align: center;
  width: 100%;
}
.Footer p {
  font-size: 1.2rem;
}
.Footer p span {
  color: #F50D5A;
}

.Navbar {
  align-items: center;
  background-color: #2E132C;
  display: flex;
  height: 6rem;
  justify-content: space-around;
  max-width: 100rem;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.Navbar__item {
  list-style: none;
  margin: 0 1rem;
}
.Navbar__item__logo {
  height: 1.5rem;
}
.Navbar__item__logo.logo--image {
  height: 2.5rem;
}
.Navbar__item__profile {
  border-radius: 50%;
  height: 3.5rem;
  overflow: hidden;
  width: 3.5rem;
}
.Navbar__item__profile--pic {
  height: 3.5rem;
  object-fit: cover;
  object-position: 0;
  width: 3.5rem;
}

.NewPost {
  align-items: center;
  background-color: #150714;
  border-bottom: 3px #60265B solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
}
.NewPost__picture {
  align-self: flex-start;
  border-radius: 50%;
  height: 5.5rem;
  margin: 0 1rem 1.5rem 1.5rem;
  overflow: hidden;
  width: 5.5rem;
}
.NewPost__picture--image {
  height: 5.5rem;
  object-fit: cover;
  object-position: 0;
  width: 5.5rem;
}
.NewPost__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50rem;
  padding: 0 1.5rem;
}
.NewPost__form--input {
  background-color: #2E132C;
  border: none;
  color: #FFF;
  font-size: 1.6rem;
  height: 15rem;
  padding: 1rem;
  resize: none;
  width: 100%;
}
.NewPost__form--input::placeholder {
  color: #60265B;
  font-family: inherit;
  font-size: 1.8rem;
}
.NewPost__form--input:focus {
  outline: none;
}
.NewPost__form--button {
  align-self: end;
  background-color: #2E132C;
}
.NewPost__form--button:hover {
  color: #F1F1F1;
}
.NewPost__stats {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  margin: 1rem 0;
}
.NewPost__stats > .stats--max {
  color: #F50D5A;
}

.PostsList {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 65rem;
  overflow-y: scroll;
  width: 100%;
}
.PostsList::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: #2E132C;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;
}

.Home {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;
}
.Login--logo {
  height: 25rem;
  width: 25rem;
}
.Login__button {
  margin: 2rem;
}
.Login h2,
.Login p {
  line-height: 1.7;
  padding: 2rem;
  text-align: center;
}
.Login__loading {
  display: grid;
  place-items: center;
  height: 100vh;
}

.Options {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.Options--logo {
  margin: 10rem 0;
  width: 25rem;
}
.Options__form {
  padding: 0 4rem;
}
.Options__username {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.Options__welcome {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: uppercase;
}
.Options__welcome div {
  color: #F50D5A;
  font-weight: 900;
}
.Options input {
  background-color: #150714;
  border: none;
  color: #F1F1F1;
  font-family: "Fira Code", sans-serif;
  font-size: 1.6rem;
  padding: 1.5rem;
}
.Options input::placeholder {
  color: #60265B;
  font-size: 1.6rem;
}
.Options input:focus {
  outline: none;
}
.Options__colors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 100%;
}
.Options__colors input {
  display: none;
}
.Options__colors--title {
  margin-bottom: 2rem;
  width: 100%;
}
.Options__squareColor {
  cursor: pointer;
  height: 4rem;
  margin: 0 0.5rem;
  width: 4rem;
}
.Options__submit {
  background-color: #00DA76;
  border: none;
  color: #F1F1F1;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
  padding: 1.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.swal2-container .swal2-title {
  font-size: 2.1rem;
  line-height: 1.4;
}
.swal2-container .swal2-html-container {
  line-height: 1.6;
  font-size: 1.6rem;
}
.swal2-container .swal2-styled.swal2-confirm,
.swal2-container .swal2-styled.swal2-cancel {
  font-family: "Fira Code", sans-serif;
  font-size: 1.3rem;
}

/*# sourceMappingURL=styles.css.map */
