.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  top: 0;
}

.Navbar {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.Navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

.Navbar-item-home {
  width: 3rem;
  height: 2.5rem;
}

.Navbar-item-logo img {
  width: 24rem;
  overflow: hidden;
}
