.NewPost {
  background-color: #150714;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 3px #60265b solid;
}

.NewPost-space {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.NewPost-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 50rem;
  height: 12rem;
  background-color: #2f112d;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1.6rem;
  resize: none;
}

.form-input::placeholder {
  color: #914d8b;
  font-family: inherit;
  font-size: 1.8rem;
}

.form-input:focus {
  outline: none;
}

.form-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.4rem;
}

.form-max {
  color: #f50d5a;
}

.form-button {
  color: #150714;
  background-color: #2f112d;
  width: 10rem;
  height: 3.5rem;
  border: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  align-self: end;
}

.form-button:hover {
  color: #fff;
}

.form-progressbar {
  background-color: #00da76;
  height: 0.5rem;
}
