.PostsList {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	overflow: scroll;
}

.Post-Container {
	align-items: center;
	border-bottom: 3px solid #60265B;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	width: 100%;
}

.Post-profilepic {
	display: flex;
	height: 100%;
	justify-content: center;
	min-width: 20%;
	overflow: hidden;
}

.post-pic {
	border-radius: 50%;
	height: 7rem;
	object-fit: cover;
	width: 7rem;
}

.Post-content {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	text-align: left;
	width: 80%;
}

.Post-content .Content-stats {
	margin-bottom: 1rem;
}

.Post-content .Content-stats .stats-username {
	background-color: yellow;
	border-radius: 0.3rem;
	color: #2E132C;
	font-family: 'Press Start 2P', cursive;
	padding-block: 0.5rem;
}

.Post-content .Content-stats .stats-date {
	padding: 1rem;
}

.Content-likes {
	color: #F50D5A;
	margin-top: 2rem;
}
