.button {
  border: none;
  color: $color-primary-dark;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  height: 3.5rem;
  text-transform: uppercase;
  width: 10rem;
}
